.login__button div::after{
    content: "";
    position: absolute;
    background-color: #ffffff;
    height: .1em;
    width: 0;
    right: 0;
    bottom: 0em;
    transition: .5s;
}

.login__button:hover{
    color: #ffffff;
}
.login__button:hover div::after{
    width: 100%;
}