
/*RE-CSS cho nav cua owl lib*/

.owl-prev {
width: 15px;
height: 100px;
position: absolute;
top: 35%;
left:1.5em;
display: block !important;
border:0px solid black;
}

.owl-next {
width: 15px;
height: 100px;
position: absolute;
top: 35%;
right: 1.5em;
display: block !important;
border:0px solid black;
}   

/* CSS for item in list */
.item__block{
position: relative;
overflow: hidden;
}
.item__block:hover .item__block__swatch{
transform:none;
}
.item__block__swatch{
min-height: 4em;
width : 100%;
background-color: white;
position: absolute;
bottom  :0;
transform:translate(0,100%);
transition: .7s;
}
.swatch__type{
margin:0px;
padding : 0;
display: flex;
justify-content:center;
list-style: none;
}
.swatch__type li{
margin: 0 .2em;
}
.swatch--img{
height:4em;
margin : .2em 0;
object-fit: cover;
}
.swatch--img:hover{
border:1px solid red;
}

/* Size selector */
.select__size{
    background-color: #000;
}
.select__size:hover{
    background-color: #949494;
}

.addToCart_btn:hover{
    background-color: #000;
    color: #fff;
    transition: .4s;
}

.radio_custom {
    -webkit-appearance: none; /*to disable the default appearance of radio button*/
    -moz-appearance: none;
}
  
.radio_custom:focus { /*no need, if you don't disable default appearance*/
    outline: none; /*to remove the square border on focus*/
}
  
.radio_custom:checked { /*no need, if you don't disable default appearance*/
    background-color: #949494;
}