.item__block{
    position: relative;
    overflow: hidden;
}
.item__block:hover .item__block__swatch{
    transform:none;
}
.item__block__swatch{
    min-height: 4em;
    width : 100%;
    background-color: white;
    position: absolute;
    transform:translate(0,100%);
    bottom: 0;
    transition: .7s;
}
.swatch__type{
    margin:0px;
    padding : 0;
    display: flex;
    justify-content:center;
    list-style: none;
}
.swatch__type li{
    margin: 0 .2em;
}
.swatch--img{
    height:4em;
    margin : .2em 0;
    object-fit: cover;
}
.swatch--img:hover{
    border:1px solid red;
}
